<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

Load the dataset into a dataframe.

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")
print('Saved')

Saved

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [20]:
# your code goes here
df2 = len(df)-len(df.drop_duplicates())
df2
#len(df['Respondent'])-len(df['Respondent'].drop_duplicates())

0

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [21]:
# your code goes here
df=df.drop_duplicates()
#len(df)
#len(df['Respondent'].unique())

Verify if duplicates were actually dropped.

In [22]:
# your code goes here
df2 = len(df)-len(df.drop_duplicates())
df2

0

## Finding Missing values

Find the missing values for all columns.

In [23]:
# your code goes here
df.isnull()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase,NormalizedAnnualCompensation
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11547,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11548,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11549,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11550,False,False,False,False,False,False,False,False,False,True,...,True,False,False,False,False,False,False,False,False,False
11551,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

Find out how many rows are missing in the column 'WorkLoc'

In [25]:
# your code goes here
miss_workloc=pd.isnull(df['WorkLoc']).sum()
miss_workloc

32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [26]:
# your code goes here
vc_wl=df['WorkLoc'].value_counts(dropna=False)
vc_wl

WorkLoc
Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
NaN                                                 32
Name: count, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [27]:
#make a note of the majority value here, for future reference
#
max_wl='Office'
max_wl

'Office'

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [28]:
# your code goes here
df['WorkLoc'].fillna(value=max_wl, inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [29]:
# your code goes here
df['WorkLoc'].value_counts(dropna=False)

WorkLoc
Office                                            6838
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: count, dtype: int64

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [30]:
# your code goes here
df['CompFreq'].unique()
#len(df[df['CompFreq']=='Yearly'])

array(['Yearly', 'Monthly', 'Weekly', nan], dtype=object)

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [31]:
# your code goes here
NormalizedAnnualCompensation=[]
i=0
for i in df.index:
    if df.loc[i,'CompFreq'] == 'Yearly':
        NormalizedAnnualCompensation.append(df.loc[i,'CompTotal'])
    elif df.loc[i,"CompFreq"] == 'Monthly':
        NormalizedAnnualCompensation.append(df.loc[i,'CompTotal']*12)
    elif df.loc[i,"CompFreq"] == 'Weekly':
        NormalizedAnnualCompensation.append(df.loc[i,'CompTotal']*52)
    else:
        NormalizedAnnualCompensation.append('NaN')
df['NormalizedAnnualCompensation']=NormalizedAnnualCompensation
#df[['CompFreq', 'CompTotal', 'NormalizedAnnualCompensation']]
df[['CompFreq', 'CompTotal', 'NormalizedAnnualCompensation']].loc[df['CompFreq']=='Weekly']
#df['NormalizedAnnualCompensation'].median()

      CompFreq  CompTotal NormalizedAnnualCompensation
12      Weekly     2000.0                     104000.0
13      Weekly    22000.0                    1144000.0
46      Weekly    67800.0                    3525600.0
76      Weekly   137000.0                    7124000.0
135     Weekly        NaN                          NaN
...        ...        ...                          ...
11401   Weekly    90000.0                    4680000.0
11407   Weekly     2250.0                     117000.0
11417   Weekly    65000.0                    3380000.0
11430   Weekly    90000.0                    4680000.0
11443   Weekly     2880.0                     149760.0

[331 rows x 3 columns]

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).